body {
	background-color: #777;
	font-family: helvetica, sans-serif;
	text-align: center;
}

.footer {
	color: #eee;
	margin-top: 40px;
}

.footer a {
	color: #f60;
	text-decoration: none;
	font-weight: bold;
}

button {
    border: 1px solid #f90;
    border-radius: 0.6em;
    background-color: #fb6;
}


h1 {
	color: #f60;
	font-size: 60px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

div.columnContainer {
    margin: 50px auto 0 auto;
}

div.column {
    margin-left: 20px;
	border: 20px solid #fff;
	box-shadow: 5px 5px 7px #333;
	border-radius: 15px;
	background-color: #fff;
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.error {
	color: #f00;
}

a {
	color: #00f;
	text-decoration: underline;
}

fieldset.capsule {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 1em;
    border-width: 0;
    width: 100%;
    white-space: nowrap;
}

fieldset.capsule label, fieldset.capsule input, fieldset.capsule button {
    font-size: inherit;
    padding: 0.3em 0.4em;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #f90;
    background-color: #fff;
}

fieldset.capsule label {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset.capsule input {
    margin-right: 0;
    border-radius: 0.6em 0 0 0.6em;
    width: 60%
}

fieldset.capsule input:focus {
    outline: none;
    background-color: #ffa;
    background-color: rgba(255,255,210,0.5);
}

fieldset.capsule button {
    margin-left: 0;
    border-radius: 0 0.6em 0.6em 0;
    background-color: #fb6;
}

fieldset.capsule button:active, fieldset.capsule button:focus {
    background-color: #acf;
    outline: none;
}

/* Don't forget the phones! */
@media only screen and (max-width: 600px) , only screen and (max-device-width: 600px) {
	body {
		margin: 0px;
	}
	h1 {
		text-align: left;
		font-size: 80px;
		margin-left: 10px;
	}
	div.mainContentArea, div.signupForm, div.loginForm {
		width: 100%;
		border: none;
		box-shadow: none;
		border-radius: 0px;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 20px;
}
	div.mainContentArea>input {
		font-size: 80px;
		margin-bottom: 15px;
	}
	div.item span {
		font-size: 60px;
	}
}